# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Environment variables
.env

# Django Database (Don't push local data)
db.sqlite3
*.db

# Large Datasets and Files (These will break GitHub's 100MB limit if pushed)
top10milliondomains.csv
safe_domains.db

# OS Files
.DS_Store
Thumbs.db
